*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-x: hidden;
}
body{
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.logo-img{
  height: 80px;
}
.main{
  height: 600px;
  width: 550px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 8px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-board{
  transform: translateY(30px);
  /* 레이아웃 안건들고 요소만 움직일수 있다! */
}
.top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horizontal-line{
  width: 400px;
  border: 1px solid black;
  margin-top: 40px;
}
.row{
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.vertical-line{
  height: 490px;
  border: 1px solid black;
  /* margin-top: 30px; */
}
.item-img{
  width: 150px;
  height: 150px;
  /* transform: translate(-50%, -50%); */
}
.item-board-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transform: translateX(-20px);
}
.item-board-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transform: translateX(20px);
}
.result{
  transform: translateY(60px);
  border: 5px solid black;
  padding: 5px 10px 5px 10px;
  text-align: center;
}
.item-button{
  display: flex;
  gap: 10px;
}
.item-button div{
  font-size: 20px;
  font-weight: 600;
}
.item-button:hover{
  cursor: pointer;
}
.win{
  border-color: green;
}
.lose{
  border-color: red;
}
.tie{
  border-color: black;
}
.score-wrap {
  position: relative;  /* reset 버튼의 기준점 */
  width: 100%;         /* 부모 기준으로 꽉 채움 */
  display: flex;
  justify-content: center; /* 점수를 가운데에 둠 */
  align-items: center;
  margin-top: 10px;
}
.reset-button{
  position: absolute;
  right: 1px;
  /* 오른쪽 끝에서 거리 조정 (main width 따라 조절) */
  top: 50%;
  transform: translateY(20%);
  width: 60px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
  background-color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background-color: white;
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
}

.modal h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 480px){
  .main{
    width: 380px;
    height: 500px;
    /* padding: 10px; */
  }
  .horizontal-line{
    width: 320px;
  }
  .vertical-line{
    height: 400px;
  }
  .row{
    gap:0px;
  }
  .item-board-left, .item-board-right{
    gap: 0px;
  }
  .result{
    transform: translateY(20px);
  }
}